@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  height: 10vh;
  width: 100vw;
  font-size: 3vh;
}

.marker.selected {
  height: 70px;
  width: 70px;
  border: 1px;
  border-style: dashed;
  border-width: 3px;
  background-color: rgba(173, 78, 78, 0.5);
  opacity: 100%;
  border-color: red;
  border-radius: 50%;
}

#mainImage {
  width: 2000px;
}

.setWidth {
  width: 2000px;
}
