@tailwind base;
@tailwind components;
@tailwind utilities;

.card {
  height: 10vh;
  width: 100vw;
  font-size: 3vh;
}

.marker {
  position: absolute;
  height: 70px;
  width: 70px;
  border: 1px;
  border-style: dashed;
  border-width: 3px;
  opacity: 100%;
  border-radius: 50%;
  z-index: 10;
}
.marker.selected {
  background-color: rgba(173, 78, 78, 0.5);
  border-color: red;
}

.hintMarker {
  background-color: rgba(246, 250, 0, 0.2);
  z-index: 50;
  position: absolute;
  height: 300px;
  width: 300px;
  border-radius: 150px;
  z-index: 10;
}

.marker.correct {
  background-color: rgba(70, 241, 18, 0.5);
  border-color: green;
}

#mainImage {
  width: 2000px;
}

.setWidth {
  width: 2000px;
}

.winPopUpButton {
  border: 1px solid black;
}

.centered {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translate(-50%, 0);
}

.durationText {
  left: 28rem;
}

.hintText {
  left: 34rem;
}
